<div class="container">
  <div class="row align-items-center justify-content-center">
    <h3>
      Jira Check Point
    </h3>
  </div>
</div>


<div class="container somePaddingTop">
  <div class="row align-items-center justify-content-center">

    <div class="container center">
        <h4>
          Below the issues that have not been updated at the expected time:
        </h4>
        <br>
    </div>

    <div *ngIf="!showLoadingComponent" class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="center">Priority</th>
            <th scope="col" class="center">Number</th>
            <th scope="col" class="center">Link</th>
            <th scope="col" class="center">Time limit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of resultsArray">
            <td class="center">{{item.filterName}}</td>
            <td class="center">{{item.filterAmount}}</td>
            <td class="center"><a href="{{item.filterLink}}" target="_blank">{{item.filterLink}}</a></td>
            <td class="center">{{convertTime(item.filterHours)}}</td>
          </tr>

        </tbody>
      </table>
    </div>
    <div *ngIf="showLoadingComponent" class="container intro">
      <div class="row">
        <div class="col" align="center">
          <h1>Loading Components, please wait</h1>
          <div class="loader"></div>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="showResolved" class="row align-items-center justify-content-center">
    <h4>
      {{resolvedIssues}}
    </h4>
    <h4>Go to <a href="{{resolvedIssues2}}" target="_blank">{{resolvedIssues2}}</a> to find out more</h4>

  </div>

</div>
