.divmin{
  min-height: 400px;
}

.center {
  width:100%;
  text-align: center;

}

.dashed {border-style: dashed;}
.solid {border-style: solid;}
.double {border-style: double;}

.somePaddingTop{
  padding-top: 10px;
}

.somePaddingLeftRight{
  padding-left: 5px;
  padding-right: 5px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.positive {
  font-weight: bold;
  color: red;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.negative {
    background-color: white;
}
