<div class="container divMainMin">
  <div class="row align-items-center justify-content-center">
    <img src="./assets/images/rtg.png" alt="bugbusters" class="responsive">
  </div>
</div>

<div class="container divMainMin">
  <div class="row">
    <div class="col-sm center divMainMin">
      <h3>Here we will have important news and shit like that</h3>
      <div class="container">
        <img src="./assets/images/realtime-gaming-jackpots.jpg" alt="bugbusters" class="responsive">
      </div>
    </div>
    <div class="col-sm center  divMainMin">
      <h3>BugBusters, are you ready for the challenge?</h3>
      <div class="container">
        <img src="./assets/images/bug.png" alt="bugbusters"  class="responsive">
      </div>
    </div>
    <div class="col-sm  divMainMin">
      <h3 class="centery">Techona Support team building</h3>
      <div class="container">
        <img src="./assets/images/support.jpg" alt="bugbusters"  class="responsive">
      </div>
      <p>Techona support guys had a great time with the go carts</p>
      <p>No DefCons reported</p>
    </div>
  </div>

</div>
